.alternate-row:nth-child(odd) {
  background-color: #fff;

}
.main-body{
  padding: 3px 5px;
}
.alternate-row:nth-child(even) {
  background-color: #041014;
  color: white;
}
.alternate-row1{
background-color: #041014;
color: white;
}
.edit{
  color: #F4CE14;
}
.delete{
  color: #E4003A;
}
